#toolbar {
  display: flex;
  justify-content: center;
}

#card {
  margin: 5% 15%;
  height: 70vh;
}

#search-field {
  width: 100%;
}

#card-content {
  overflow: auto;
}

.mat-column-name {
  width: 19%;
}

.mat-column-status {
  width: 19%;
}

.mat-column-createdBy {
  width: 19%;
}

.mat-column-createdAt {
  width: 19%;
}

.mat-column-finishedAt {
  width: 19%;
}

.mat-column-id {
  width: 5%;
}
